@import 'styles/colors';
@import 'styles/text-mixins';

:host {
  display: flex;
  height: 60px;
  align-items: center;
  font-size: 25px;

  .navigation-link {
    padding: 10px;
  }
}

.navigation-link {
  color: #757575;

  &.active {
    @include app-text-bold();

    color: $main;
    background-image: linear-gradient($main, $main);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 2px;
  }
}
